/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

/* 
1. Posicionamiento
2. modelo de caja
3. tipografia
4. visuales
5. otros
*/

:root {
    /* colores */
    --green-nav: #03a81e;
    --white-nav: #f0f8f8;
    --off-white: #faf8f7;
    --gradient-header_footer:linear-gradient(207.8deg, rgb(8, 35, 156) 16%, green 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    /* dimencion mas chica en dispositivos */
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, rgb(8, 35, 156) 16%, green 100%);
}


header img {
    width: 150px;
    height: 250px;
    border: 5px solid var(--green-nav);
    border-radius: 100%;
    align-self: center;
    margin-top: 25px;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: var(--white-nav);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

}

.header--title-container p {
    margin-top: 3px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    color: rgb(192, 243, 192)
}



/* seccion de la galeria de fotos */
.main--galeria-adopcion {
    background-color: #007bff42;
}

.slideshow {
    display: flex;
    overflow: hidden;
}

.slideshow img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

/* Definir la animación */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }


    80% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(-500%);
    }


}

/* Iniciar la animación */
.slideshow img {
    animation: slide 20s infinite;
}

/* main--committed */

.main--committed {
    margin: 20px;
    font-family: 'Inter', sans-serif;
}

.main--committed h2 {
    margin: 10px auto 20px auto;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    max-width: 300px;
    color: #03a81e;
}

.main--committed p {
    text-align: justify;
}

.main--committed div {
    text-align: justify;
    font-size: 1rem;
    
    /* line-height: 38px; */
    margin: 20px auto 0px;
    padding: 20px;
    
    max-width: 350px;
    border: solid 1px rgba(58, 2, 122, 0.616);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(29, 3, 143, 0.75);
    

    background-color:#038fa83a;


    
}
.main--committed div li {
    text-align: center;
    margin: -15px -10px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    list-style-type: none;

    background-color: #0057b391;
    max-width: 20px;
    border-radius: 100%;
    
}




/* formulario mascota pedida */


form {
    display: flex;
    flex-direction: column;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab3;
    padding-top: 20px;
}

main .main--form {
    width: 80%;
    margin: 20px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff91;
    min-width: 300px;
    max-width: 400px;
}

main .main--form h2 {
    text-align: center;
    
}

.form--adoptame {
    margin-bottom: 0.5rem;
    font-weight: normal;
    margin: 0 auto;

}

.form--adoptame input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #0e0246;
    font-size: 1rem;
}

/* input descripcion de la mascota */
.form--adoptame textarea {
    height: 60px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;

}

/* quita de formato del boton para subir imagen */


/* estilo del boton para subir imagen */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    width: fit-content;
    margin: 10px auto;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);


}



input[type="submit"], button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="submit"]:hover button:hover {
    background-color: #0056b3;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(19, 22, 20, 0.5);
    cursor: pointer;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background: var(--gradient-header_footer);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer--izq ul{
    font-size: 2rem;
    
    font-weight: 500px;
    line-height: 2.2rem;
    list-style: none;

    

}

.footer--izq li {
    margin: 10px 0;
    
}

.footer--izq a {
    text-decoration: none;
    color: #f0f8f8;
    
}

.footer--der img {

    border: 2px solid var(--green-nav);
    border-radius: 100%;
}
  